* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
  --blue-color: #0d6efd;
  --white-color: #fff;
  --gray-color: #8b96a5;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.header {
  background-color: #ffffff;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brand-logo {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
}

.search-form {
  width: 665px;
  height: 40px;
  border-radius: 7px;
  border: 2px solid  #0d6dfda9;
  display: flex;
  overflow: hidden;
}
.search-form input {
  width: 100%;
  padding-inline: 1rem;
  border: none;
  outline: none;
}
.search-form select {
  border: none;
  width: 135px;
}
.search-form button {
  width: 120px;
  border: none;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.actions {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 4rem;
}
.actions .action {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  align-items: center;
  color: var(--gray-color);
}

.navbar {
  background-color: #000;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.nav-list {
  display: flex;
  gap: 2rem;
  margin-left: 7.5rem;
}
.nav-list a {
  font-size: 14px;
  color: var(--white-color);
}
.nav-right {
  display: flex;
  gap: 2rem;
  margin-right: 7.5rem;
  font-size: 13px;
}

.bread-cump{
  max-width: 1440px;
  background-color: #2e2c2c;
  height: 50px;
  margin-left: 7.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding:0 6px;
}
.bread-cump a{
  color: rgb(192, 191, 191);
}


/* content main  */
main{
     margin-top: 1rem;
    margin-left: 7.6rem;
}

section{
    margin-top: 1rem;
}
.content-main{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    width: 1180px;
    height: 580px;
    border: 1px solid #8b96a5;
    border-radius:9px ;
}

.product{
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product .product-image{
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #8b96a583;
    width: 380px;
    height: 380px;
}
.product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product .product-gallery{
    width: 380px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 56px;
}
.product-gallery .image{
    border-radius: 6px;
    overflow: hidden;
    width: 70px;
    height: 100%;
    border: 1px solid #8b96a583;
}
.product-gallery .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info{
    width: 430px;
    height: 514px;
    border: 1px solid rgba(0, 0, 0, 0.205);
}
.product-info .available{
    color: rgb(5, 184, 5);
}

.product-info .title{
    margin-top: 1rem;
}
.product-info .rating{
     margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #8b96a567;
    padding: 1rem;
}

.product-info .trade-price{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    gap: 2rem;
    height: 60px;
}
.product-info .short-info{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.short-info p{
    display: flex;
    align-items: center;
    display: flex;
justify-content: space-around;
    border: 1px solid #c0c0c0;
    padding: 2px;
}
.seller-info{
    width: 280px;
    height: 325px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 1rem;
    border-radius: 10px;
}
.seller-profile{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 50px;
}
.seller-profile h1{
    color: green;
}
.seller-info .actions{
    margin-left: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.seller-info .actions button{
    width: 230px;
    cursor: pointer;
    font-weight: 600;
    height: 30px;
    border: none;
    border-radius: 8px;
}

.seller-info #send-inquiry{
    background-color: #005ADE;
    color: white;
}
.seller-info #seller-profile{
    background-color: rgba(230, 230, 230, 0.616);
    color: #005ADE;
}

/* detailed box  */
.detail{
    display: flex;
    gap: 1rem;

}
.detail-box{
    width: 880px;
    height: 618px;
    border: 1px solid #8b96a5;
    border-radius:9px ;
}

.detail-box .filter-bar{
display: flex;
padding-left: 1rem;
align-items: center;
gap: 2rem;
    height: 40px;
    background-color: rgba(179, 179, 179, 0.219);
    margin-bottom: 1rem;
}
.filter-bar span{
    cursor: pointer;
}
.detail-box .detail-desc{
    padding: 5px;
}



.detail-box .detail-info{
 display: flex;
 flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
width: 450px;
margin-bottom: 2rem;
}

.detail-info div{
    
    display: flex;
    gap: 5rem;
    height: 30px;
    align-items: center;
    border: 1px solid ;
}
.detail-info div  p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 100%;
    background-color: rgb(214, 213, 214);
}
.detail-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    gap: 12px;
}
.aside-items{
    border: 1px solid black;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    height: 553px;
}
.aside-item{
    border: 1px solid ;
    width: 242px;
    height: 80px;
    display: flex;
    align-items: center;
    gap:1rem;
}
.aside-item-image{
    width: 40%;
height: 100%;
}
.aside-item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Recommend items  */
.recommended{
    padding: 1rem;
  border-radius: 10px;
  width: 1180px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 350px;
  border: 1px solid rgba(0, 0, 0, 0.281);
}
.recom-items-container{
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.recom-item{
    padding: 5px 1rem;
    width: 172px;
    height: 254px;
    border: 1px solid rgba(0, 0, 0, 0.377);
display: flex;
flex-direction: column;
}
.recom-item .item-image{
    height: 80%;
}


.recom-item .item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recom-item .item-desc .item-name{
    color: #000;
}
.recom-item .item-desc .item-price {
    color: #8b96a5;
}
.banner{
    border-radius: 10px;
    padding: 0 1rem;
    width: 1180px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image:linear-gradient(65deg,#005ADE 60% , #237CFF 40%);
}

.banner .text{
    color: white;
}
.banner .text p{
    color: #c0c0c0;
}
.banner .btn button{
    width: 90px;
    height: 38px;
    background-color: orange;
    border-radius: 10px;
    border: none;
    color: black;

}







/* footer  */
footer{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
 max-width: 1440px;
  height: 324px;
  border: 1px solid;
}
.footer-top{
  
  height: 256px;
  border: 1px solid;
  display: flex;
  align-items: center;
  gap:4rem;
  justify-content: center;
  padding: 1rem;
}

.footer-top .col {
  width: 30%;
  height: 200px;
}
.footer-top .footer-col-1{
  padding: 1rem;
  
}

.logo h2{
  color: #0d6efd;
  font-size: 2rem;
}
.logo p{
  color: #5c5858;
}
.footer-top .footer-col-1 .social-links{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.social-links a{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(146, 143, 143);
}
.footer-col-2{
  padding: 1rem;
}

.links {
  margin-top: 1rem;
display: flex;
gap: 5px;
flex-direction: column;
}
.links a{
  color: #464444;
}

.footer-col-2 .app-card{
  cursor: pointer;
  width: 120px;
  height: 45px;
  text-align: center;
  border-radius: 9px;
  border: 1px solid;
  background-color: black;
  color: white;
  
}

.footer-bottom{
  border: 1px solid;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: #000;
}