* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
  --blue-color: #0d6efd;
  --white-color: #fff;
  --gray-color: #8b96a5;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.header {
  background-color: #ffffff;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brand-logo {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
}

.search-form {
  width: 665px;
  height: 40px;
  border-radius: 7px;
  border: 2px solid  #0d6dfda9;
  display: flex;
  overflow: hidden;
}
.search-form input {
  width: 100%;
  padding-inline: 1rem;
  border: none;
  outline: none;
}
.search-form select {
  border: none;
  width: 135px;
}
.search-form button {
  width: 120px;
  border: none;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.actions {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 4rem;
}
.actions .action {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  align-items: center;
  color: var(--gray-color);
}

.navbar {
  background-color: #000;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.nav-list {
  display: flex;
  gap: 2rem;
  margin-left: 7.5rem;
}
.nav-list a {
  font-size: 14px;
  color: var(--white-color);
}
.nav-right {
  display: flex;
  gap: 2rem;
  margin-right: 7.5rem;
  font-size: 13px;
}

.bread-cump{
  max-width: 1440px;
  background-color: #2e2c2c;
  height: 50px;
  margin-left: 7.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding:0 6px;
}
.bread-cump a{
  color: rgb(192, 191, 191);
}


main{
 width: 100%;
 max-width: 1440px;
margin-top: 2rem;
display: flex;

}

.side-bar{
  margin-left: 7.4rem;
  width: 240px;
  border: 1px solid #8b96a5 ;
  height: 1448px;
}
.side-bar .groups-bar{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.groups-bar .group{
  width: 100%;
  max-height: 280px;
  /* border: 1px solid; */
}

.group{
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
gap: 1rem;
}
.group #see-all{
  font-weight: 600;
  color: #097cff;
}

.group-1  a{
  text-decoration: none;
  color: #2e2c2c;
}
.group div label {
  display: flex;
  gap: 2rem;
}
.content-top-bar{
  width: 920px;
  height: 62px;
  border: 1px solid #8b96a5;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-top-bar div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.content-top-bar div label{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content-section{
  padding: 4px;
  margin-left: 1rem;
margin-top: 1rem;
  width: 920px;
  height: 1500px;
  border: 1px solid #8b96a5;
}

.content-items{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.item-card{
  padding: 1rem;
  overflow: hidden;
  width: 275px;
  height: 360px;
  border: 1px solid #8b96a5;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.item-card .item-image{
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-text .price{
  display: flex;
  align-items: center;
  gap: 1rem;
}
 .item-text .price del{
  color: #676767;
 }
.item-card .item-text p{
width: 80%;
}

/* News letter section  */
.news-letter{
  background-color: #d6d6d6;
  margin-top: 1rem;
  position: relative;
  max-width: 1440px;
  height: 190px;
  border: 1px solid #9796a0;
}
.news-letter-content{
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 617px;
  height: 113px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.news-letter-content #news-top{
color: #000;
}

.news-letter-content #news-top p{
color: #8b8686;
}
.news-letter-content #news-bottom {
  margin-left: 8rem;
  display: flex;
  gap: 1rem;
}
.news-letter-content #news-bottom input{
  width: 300px;
  border: 1px solid #8b96a5;
  padding: 7px;
}
.news-letter-content #news-bottom button{
  text-align: center;
  width: 80px;
  background-color: #0d6efd;
  color: white;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}


/* footer */

/* footer  */
footer{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
 max-width: 1440px;
  height: 324px;
  border: 1px solid;
}
.footer-top{
  
  height: 256px;
  border: 1px solid;
  display: flex;
  align-items: center;
  gap:4rem;
  justify-content: center;
  padding: 1rem;
}

.footer-top .col {
  width: 30%;
  height: 200px;
}
.footer-top .footer-col-1{
  padding: 1rem;
  
}

.logo h2{
  color: #0d6efd;
  font-size: 2rem;
}
.logo p{
  color: #5c5858;
}
.footer-top .footer-col-1 .social-links{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.social-links a{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(146, 143, 143);
}
.footer-col-2{
  padding: 1rem;
}

.links {
  margin-top: 1rem;
display: flex;
gap: 5px;
flex-direction: column;
}
.links a{
  color: #464444;
}

.footer-col-2 .app-card{
  cursor: pointer;
  width: 120px;
  height: 45px;
  text-align: center;
  border-radius: 9px;
  border: 1px solid;
  background-color: black;
  color: white;
  
}

.footer-bottom{
  border: 1px solid;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: #000;
}