* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
  --blue-color: #0d6efd;
  --white-color: #fff;
  --gray-color: #8b96a5;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.header {
  background-color: #ffffff;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brand-logo {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
}

.search-form {
  width: 665px;
  height: 40px;
  border-radius: 7px;
  border: 2px solid  #0d6dfda9;
  display: flex;
  overflow: hidden;
}
.search-form input {
  width: 100%;
  padding-inline: 1rem;
  border: none;
  outline: none;
}
.search-form select {
  border: none;
  width: 135px;
}
.search-form button {
  width: 120px;
  border: none;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.actions {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 4rem;
}
.actions .action {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  align-items: center;
  color: var(--gray-color);
}

.navbar {
  background-color: #000;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.nav-list {
  display: flex;
  gap: 2rem;
  margin-left: 7.5rem;
}
.nav-list a {
  font-size: 14px;
  color: var(--white-color);
}
.nav-right {
  display: flex;
  gap: 2rem;
  margin-right: 7.5rem;
  font-size: 13px;
}

/* main section strt here  */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section {
  margin-top: 1rem;
  width: 100%;
  max-width: 1180px;
}
.hero-section {
  border: 1px solid rgba(168, 169, 170, 0.171);

  border-radius: 5px;
  padding: 2rem;
  height: 400px;
  display: flex;
  gap: 1rem;
  background-color: #fff9f9a4;
}
.hero-menu {
  width: 250px;
  height: 360px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.hero-menu a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.692);
  width: 250px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.hero-banner {
  width: 665px;
  background-image: url(https://img.freepik.com/free-photo/modern-stationary-collection-arrangement_23-2149309643.jpg?semt=ais_hybrid&w=740&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 30%;
  color: var(--white-color);
  left: 10%;
}
.banner-content h1{
  color: #727171;
}
.banner-content button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: none;
}
.hero-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.hero-right .box {
  width: 200px;
  border-radius: 8px;
}
.box-1 {
  background-color: #a7c7d494;
  padding: 1rem;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.box-1 button {
  width: 150px;
  height: 44px;
  border: none;
  border-radius: 4px;
}
.box-1 .join {
  color: var(--white-color);
  background-color: var(--blue-color);
}
.box-1 .user {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 14px;
}
.box-1 .user .user-image {
  background-image: url(https://png.pngtree.com/png-vector/20231019/ourmid/pngtree-user-profile-avatar-png-image_10211467.png);
  background-position: center;
  background-size: cover;
  border: 1px solid #dedde7;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.box-2,
.box-3 {
  height: 95px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: azure;
}

.box-2 {
  background-color: rgb(255, 120, 9);
}
.box-3 {
  background-color: #30bd66;
}

/* Sale section  */

.sale-section {
  display: flex;
  margin: 1rem 0;
  height: 240px;
  border-radius: 5px;
  border: 1px solid rgba(168, 169, 170, 0.171);
}
.sale-section .sale-countDown {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 30%;
  border: 1px solid rgba(168, 169, 170, 0.781);
}
.sale-countDown p {
  color: #8b96a5;
}
.sale-countDown .clock {
  display: flex;
  gap: 2rem;
}
.clock span {
  padding: 0 5px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 4px;
}
.sale-section .sale-items {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid rgba(75, 76, 77, 0.363);
}
.sale-items .item-card {
  padding: 9px;
  width: 206px;
  height: 100%;
  border: 1px solid rgba(168, 169, 170, 0.178);
}

.item-card .item-image {
  height: 70%;
  border-radius: 8px;
  overflow: hidden;
}
.item-image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.item-card .item-title {
  margin-top: 5px;
  margin-left: 9px;
  color: #000000cb;
}
.item-card .disc-price {
  width: 70px;
  border-radius: 9px;
  text-align: center;
  background-color: #ff6868;
  color: white;
}

/* items groups */

.items-group {
  height: 257px;
  border: 1px solid rgba(168, 169, 170, 0.178);
  display: flex;
  align-items: center;
}

.item-banner {
  width: 26%;
  height: 100%;
}

.items-group-1 .item-banner {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvIHSXaCKFSzyVNJFIzufnxn-8NbY9UeeDDQ&s);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.items-group-2 .item-banner {
  background-image: url(https://t3.ftcdn.net/jpg/05/58/65/24/360_F_558652455_rKCT87anhXtm0Wgc6xeulnakC3yLjhSZ.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.item-banner h2 {
  margin: 1rem;
}
.item-banner button {
  margin: 0 1rem;
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 4px;
}

.items-container {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.items-container .items-row {
  display: flex;
}
.items-row .item {
  padding: 1rem;
  width: 221px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(185, 186, 187, 0.507);
  height: 128px;
  position: relative;
  z-index: 999;
}

.item .left {
  top: 5px;
  left: 2px;
  width: 100px;
}
.item h4 {
  color: #252525ce;
}
.location {
  margin-top: 4px;
  color: #9796a0;
}
.item .location span {
  font-size: 14px;
  text-transform: uppercase;
}
.location p {
  font-size: 14px;
}
.item .right {
  margin-top: 2rem;
}

.item .right .image {
  border-radius: 5px;
  width: 80px;
  height: 60px;
  overflow: hidden;
}
.right .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* inquiry section  */

.inquiry-section {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  border: 1px solid #8b96a5;
  height: 420px;
  background-image: url(./inquire-bg-banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.inquiry-section .info{
    width: 440px;
    padding: 1rem 0;
    height: 139px;
    margin: 1rem;
    background-color: #000000;
    color: white;
}
.info h2{
    font-size: 1.8rem;
}
.info p{
    font-size: 15px;
}
.form-inquiry{
    border-radius: 6px;
    padding: 1rem;
    background-color: #fff;
    width: 490px;
    height: 346px;
    margin-top: 2rem;
}
.form-inquiry form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.form-inquiry form div {
    width: 100%;
}

form div input{
    padding: 0 1rem;
    width: 80%;
    height: 30px;
    border: 1px solid rgba(168, 168, 168, 0.459);
    border-radius: 3px;
}
form div textarea{
      border: 1px solid rgba(168, 168, 168, 0.459);
     padding: 0 1rem;
    min-width: 80%;
    min-height: 90px;
    overflow-x: hidden;
}
form div#choose{
    display: flex;
    gap: 1rem;
}
form div#choose input#quantity{
    width: 35%;
}
form div#choose select{
      border: 1px solid rgba(168, 168, 168, 0.459);
     padding: 0 1rem;
    width: 15%;
}
form button{
    width: 110px;
    height: 40px;
    border: none;
    background-color: var(--blue-color);
    color:white;
    border-radius: 6px;
    cursor: pointer;
}

.recomended-section{
    padding: 1rem 0;
    height: 696px;
      border: 1px solid rgba(168, 168, 168, 0.459);
    
}
.recomended-section .heading{
    margin-left: 1rem;
}
.recomended-items{
    padding: 1rem;
    height: 640px;
     display: flex;
     flex-wrap: wrap;
     gap: 2rem;
}
.recomended-items .item-card{
  padding:9px;
    width: 200px;
    border: 1px solid rgba(168, 168, 168, 0.459);
    border-radius: 5px;
    cursor: pointer;
    height: 300px;
    transition: all 0.3s ease-in-out;
}
 .recomended-items .item-card:hover{
  transform: translateY(-5px);
  box-shadow: -2px 1px 30px  rgba(0, 0, 0, 0.267);
}
.recomended-items .item-card .item-image{
  
  height:75%;
  text-align: center;
  overflow: hidden;
}
.recomended-items .item-image img{
  width: 90%;
  height: 80%;
  object-fit: cover;
}
.recomended-items .item-card .item-info{
  height: 25%;
  display: flex;
flex-direction: column;
gap: 5px;
color: #79787e;
}
.item-info .item-price h4{
font-weight: 700;
color: #464444;
}

/* service-section  */
.service-section{
  height: 256px;  
  border: 1px solid rgba(168, 168, 168, 0.459);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.service-cards{
   display: flex;
   gap: 2px;
  
}
.service-card{
   overflow: hidden;
  width: 294px;
  border-radius: 9px;
  height: 208px;
  border: 1px solid #c4b7b7dc;
}
.service-card-image{
  height: 70%;
}
.service-card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.service-card-text{
  padding: 4px 1rem;
  color: #2b2c2c;
}

.countries-section{
  height: 138px;
    border: 1px solid rgba(168, 168, 168, 0.459);
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.countries-heading h2{
color: #464646;
}
.countries-container{
  display: flex;
  flex-wrap: wrap;
  height: 93px;
  
}
.countries-card{
  padding: 4px;
  width: 235px;
  height: 46px;
  display: flex;
  gap:1rem;
}
.countries-card .country-image{
  width: 59px;
  height: 35px;
  border-radius: 3px;
  overflow: hidden;
}
.country-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countries-card-info h4{
  color: #000;
}
.countries-card-info p{
  color: #5c5858;
}
/* News letter section  */
.news-letter{
  position: relative;
  width: 1440px;
  height: 190px;
  border: 1px solid #9796a0;
}
.news-letter-content{
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 617px;
  height: 113px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.news-letter-content #news-top{
color: #000;
}

.news-letter-content #news-top p{
color: #8b8686;
}
.news-letter-content #news-bottom {
  margin-left: 8rem;
  display: flex;
  gap: 1rem;
}
.news-letter-content #news-bottom input{
  width: 300px;
  border: 1px solid #8b96a5;
  padding: 7px;
}
.news-letter-content #news-bottom button{
  text-align: center;
  width: 80px;
  background-color: #0d6efd;
  color: white;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
/* footer  */
footer{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
 max-width: 1440px;
  height: 324px;
  border: 1px solid;
}
.footer-top{
  
  height: 256px;
  border: 1px solid;
  display: flex;
  align-items: center;
  gap:4rem;
  justify-content: center;
  padding: 1rem;
}

.footer-top .col {
  width: 30%;
  height: 200px;
}
.footer-top .footer-col-1{
  padding: 1rem;
  
}

.logo h2{
  color: #0d6efd;
  font-size: 2rem;
}
.logo p{
  color: #5c5858;
}
.footer-top .footer-col-1 .social-links{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.social-links a{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(146, 143, 143);
}
.footer-col-2{
  padding: 1rem;
}

.links {
  margin-top: 1rem;
display: flex;
gap: 5px;
flex-direction: column;
}
.links a{
  color: #464444;
}

.footer-col-2 .app-card{
  cursor: pointer;
  width: 120px;
  height: 45px;
  text-align: center;
  border-radius: 9px;
  border: 1px solid;
  background-color: black;
  color: white;
  
}

.footer-bottom{
  border: 1px solid;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: #000;
}